node-red/flows.json
[
  {
    "id": "fkflow",
    "type": "tab",
    "label": "FutureKawa — Alerting",
    "disabled": false,
    "info": "Abonnement MQTT capteurs -> détection seuils par pays -> email (ou log si SMTP non configuré). Module indépendant du backend FastAPI."
  },
  {
    "id": "fkbroker",
    "type": "mqtt-broker",
    "name": "mosquitto",
    "broker": "${MQTT_HOST}",
    "port": "${MQTT_PORT}",
    "clientid": "node-red-futurekawa",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "fkmqtt",
    "type": "mqtt in",
    "z": "fkflow",
    "name": "capteurs MQTT",
    "topic": "futurekawa/+/+/measurement",
    "qos": "0",
    "datatype": "json",
    "broker": "fkbroker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["fkdetect"]]
  },
  {
    "id": "fkdetect",
    "type": "function",
    "z": "fkflow",
    "name": "Détection seuils",
    "func": "const T={brazil:{tmin:26,tmax:32,hmin:53,hmax:57},ecuador:{tmin:28,tmax:34,hmin:58,hmax:62},colombia:{tmin:23,tmax:29,hmin:78,hmax:82}};\nconst parts=(msg.topic||'').split('/');\nconst country=parts[1];\nconst cfg=T[country];\nif(!cfg){return null;}\nconst p=msg.payload||{};\nconst temp=Number(p.temperature);\nconst hum=Number(p.humidity);\nconst wid=p.warehouseId||parts[2]||'?';\nif(isNaN(temp)||isNaN(hum)){return null;}\nconst problems=[];\nif(temp<cfg.tmin||temp>cfg.tmax){problems.push('température '+temp+'°C hors plage ['+cfg.tmin+'-'+cfg.tmax+'°C]');}\nif(hum<cfg.hmin||hum>cfg.hmax){problems.push('humidité '+hum+'% hors plage ['+cfg.hmin+'-'+cfg.hmax+'%]');}\nif(problems.length===0){node.status({fill:'green',shape:'dot',text:wid+' OK'});return null;}\nnode.status({fill:'red',shape:'ring',text:'anomalie '+wid});\nmsg.country=country;\nmsg.warehouse=wid;\nmsg.subject='[Node-RED][FutureKawa '+country+'] Anomalie entrepôt '+wid;\nmsg.body='Anomalie détectée sur '+wid+' ('+country+') :\\n- '+problems.join('\\n- ')+'\\nMesure: '+temp+'°C / '+hum+'%';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 120,
    "wires": [["fkroute", "fkdbganom"]]
  },
  {
    "id": "fkroute",
    "type": "function",
    "z": "fkflow",
    "name": "Email ou log (fallback)",
    "func": "const host=env.get('SMTP_HOST');\nif(!host){\n  node.warn('SMTP non configuré -> email simulé: '+msg.subject);\n  return [null,{topic:msg.subject,payload:msg.body}];\n}\nmsg.to=env.get('SMTP_TO')||env.get('SMTP_FROM')||'responsable@futurekawa.com';\nmsg.from=env.get('SMTP_FROM')||'node-red@futurekawa.com';\nmsg.topic=msg.subject;\nmsg.payload=msg.body;\nreturn [msg,null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 120,
    "wires": [["fkemail"], ["fkdbglog"]]
  },
  {
    "id": "fkemail",
    "type": "e-mail",
    "z": "fkflow",
    "server": "${SMTP_HOST}",
    "port": "${SMTP_PORT}",
    "secure": false,
    "tls": false,
    "name": "",
    "dname": "Envoi email alerte",
    "x": 860,
    "y": 100,
    "wires": []
  },
  {
    "id": "fkdbglog",
    "type": "debug",
    "z": "fkflow",
    "name": "Email simulé (console)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 160,
    "wires": []
  },
  {
    "id": "fkdbganom",
    "type": "debug",
    "z": "fkflow",
    "name": "Anomalies détectées",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 200,
    "wires": []
  }
]
